<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"tnf-single-tnf-pdf","style":{"spacing":{"margin":{"top":"var:preset|spacing|20"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group tnf-single-tnf-pdf" style="margin-top:var(--wp--preset--spacing--20)">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|40"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
